<!-- apps/post/templates/post/blog.html -->
{% extends 'post/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
      <div class="row">

        <!--/////////////////////////////////// Main content ///////////////////////////////////////-->
        <main class="posts-listing col-lg-8"> 

          <!-- Container -->
          <div class="container">

            <!--============================== All Post =================================-->
            <div class="row">
              {% for post in post_list %}
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="post.html">
                  <!--  <img src="/media/featured-pic-1.jpeg" alt="..." class="img-fluid"> -->
                  <img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">
                      <!-- 22 February | 2024 -->
                      {{ post.timestamp|date:'d F' }} | {{ post.timestamp|date:'Y' }}
                    </div>
                    <!-- Category -->
                    <div class="category">
                      {% for category in post.categorires.all %}
                      <!-- Business | Technology -->
                      <a href="#">{{ category.title }}</a>
                      {% endfor %}
                    </div>
                    <!-- End Category -->
                  </div><a href="post.html">
                    <h3 class="h4">{{ post.title }}</h3></a>
                    <!-- Text max 200 characters -->
                  <p class="text-muted">{{ post.overview|linebreaks|truncatechars:200}}</p>
                  <footer class="post-footer d-flex align-items-center">
                      <a href="#" class="author d-flex align-items-center flex-wrap">
                        <div class="avatar">
                          <!-- <img src="/media/authors/avatar-1.jpg" alt="..." class="img-fluid"> -->
                          <img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid">
                        </div>
                        <div class="title">
                          <!-- <span>John@Doe</span> -->
                          <span>{{ post.author.user.username }}</span>
                        </div>
                      </a>
                    <div class="date">
                      <i class="icon-clock"></i>
                      <!-- 22 05:07 ago -->
                      {{ post.timestamp|date:'d H:i' }} ago
                    </div>
                    <div class="comments meta-last">
                      <i class="icon-comment"></i>
                      <!-- 0 -->
                      {{ post.comment_count }}
                    </div>
                  </footer>
                </div>
              </div>
              <!-- End Post -->
              {% endfor %}
            </div>
            <!--============================== End All posts ============================-->

            <!--=============================== Pagination ===============================-->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                <li class="page-item"><a href="#" class="page-link active">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
              </ul>
            </nav>
            <!--=============================== End Pagination ===========================-->

          </div>
          <!-- End Container -->
        </main>
        <!--/////////////////////////////////// End Main content ///////////////////////////////////-->

        <!--/////////////////////////////////////// Aside ///////////////////////////////////////////-->
        <aside class="col-lg-4">
          <!--======================================= Search =======================================-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="#" class="search-form">
              <div class="form-group">
                <input type="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
          <!--======================================= End Search ===================================-->
          
          <!--======================================= Latest posts =================================-->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            <div class="blog-posts"><a href="#">
                {% for latest_post in latest_posts %}
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="{{ latest_post.thumbnail.url }}" alt="..." class="img-fluid"></div>
                  <a href="#">
                    <div class="title"><strong>{{ latest_post.title }}</strong>
                      <div class="d-flex align-items-center">
                        <div class="views"><i class="icon-eye"></i>{{ latest_post.view_count }}</div>
                        <div class="comments"><i class="icon-comment"></i>{{ latest_post.comment_count }}</div>
                      </div>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
          </div>
          <!--======================================= End Latest posts =============================-->

          <!--======================================= Categories ===================================-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for cat in category_count %}
            <!-- Categories and number of posts -->
            <div class="item d-flex justify-content-between">
              <a href="#">{{ cat.categories__title }}</a>
              <span>{{ cat.categories__title__count }}</span>
            </div>
            <!-- End Categories and number of posts -->
            {% endfor %}
          </div>
          <!--======================================= End Categories ===============================-->

          <!--======================================= Tags =========================================-->
          <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="tag">#Business</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Technology</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Fashion</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Sports</a></li>
              <li class="list-inline-item"><a href="#" class="tag">#Economy</a></li>
            </ul>
          </div>
          <!--======================================= End Tags =====================================-->
        </aside>
        <!--/////////////////////////////////////// End Aside ///////////////////////////////////////-->

      </div>
    </div>

{% endblock content %}
